/* Don't let the navbar overlap with the content */
body { padding-top: 40px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

#home-content { padding-top: 50px; }
@media screen and (max-width: 768px) {
    #home-content { padding-top: 0px; }
}

.img-list  {
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.section-divider {
    background: url('../img/divider.png') 0 7px repeat-x;
    text-align: center;
}

.section-divider .text {
    display: inline-block;
    padding: 0 20px;
    background: white;
    font-weight: bold;
}

.green {
    color: green;
}
