<div id="apachecon" class="alert alert-success">
    <p>
        <a href="http://www.apache.org/events/current-event.html">
            <img style="float: left; margin-right: 10px;" src="http://www.apache.org/events/current-event-234x60.png"/>
        </a>
        <strong>ApacheCon North America</strong> is coming to Miami!<br/>
        ApacheCon is the premier community event of the Apache Software Foundation.
        It's the best place to meet the other people in your community, learn about Apache software projects, and hack on ASF code.
        See the <a href="http://www.apache.org/events/current-event.html">main conference site</a> for details and registration.
    </p>
    <div style="clear: both;"></div>
</div>
