<div id="footer">
    <hr/>
    <div class="row clearfix">
        <div class="col-md-2 column">
            <p class="text-center">
                <a class="text-primary" href="/start/">Getting Started</a>
            </p>
        </div>
        <div class="col-md-2 column">
            <p class="text-center">
                <a class="text-primary" href="/reference/report-a-bug/">Report a Bug</a>
            </p>
        </div>
        <div class="col-md-2 column">
            <p class="text-center">
                <a class="text-primary" href="https://wiki.apache.org/jclouds/How%20to%20Contribute%20Documentation">Fix This Page</a>
            </p>
        </div>
        <div class="col-md-2 column">
            <p class="text-center">
                <a class="text-primary" href="https://wiki.apache.org/jclouds/How%20to%20Contribute">Contribute Code</a>
            </p>
        </div>
        <div class="col-md-2 column">
            <p class="text-center">
                <a class="text-primary" href="/community/">Contact Us</a>
            </p>
        </div>
        <div class="col-md-2 column">
            <p class="text-center">
                <a class="text-primary" href="https://twitter.com/jclouds">Follow Us</a>
            </p>
        </div>
    </div>
    <hr style="margin-top: 10px"/>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <p class="text-center">
              Copyright &copy; 2011-2013 <a href="http://www.apache.org">The Apache Software Foundation</a>. All Rights Reserved.
            </p>
            <p class="text-center">
              Apache, jclouds, Apache jclouds, the jclouds logo, and the Apache feather logos are registered trademarks or trademarks of the Apache Software Foundation.
            </p>
            <p class="text-center">
              <img src="/img/feather-small.gif" width="80", height="24"/>
            </p>
            <br/>
        </div>
    </div>
</div>
