<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Apache jclouds &reg;</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Getting Started<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li><a href="/start/what-is-jclouds/">What Is Apache jclouds?</a></li>
                        <li><a href="/start/install/">Installation Guide</a></li>
                        <li class="divider"></li>
                        <li><a href="/start/compute/">ComputeService</a></li>
                        <li><a href="/start/blobstore/">BlobStore</a></li>
                        <li><a href="http://github.com/jclouds/jclouds-examples">Examples</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li><a href="/guides/providers/">Cloud Providers</a></li>
                        <li><a href="/guides">User Guides</a></li>
                        <li><a href="/reference/configuration/">Configuration</a></li>
                        <li><a href="/reference/logging/">Logging</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Developer Guides</li>
                        <li><a href="http://wiki.apache.org/jclouds/">Wiki</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li><a href="/community/">Get In Touch!</a></li>
                        <li><a href="http://www.meetup.com/jclouds/">Attend An Event</a></li>
                        <li><a href="/community/users/">Who Is Using jclouds?</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Contribute</li>
                        <li><a href="/reference/report-a-bug/">Report a Bug</a></li>
                        <li><a href="http://wiki.apache.org/jclouds/How%20to%20Contribute">How To Contribute Code</a></li>
                        <li><a href="http://wiki.apache.org/jclouds/How%20to%20Contribute%20Documentation">How To Contribute Documentation</a></li>
                    </ul>
                </li>
                <li><a href="/blog">Blog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Release Notes<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <!-- only keep the release notes for supported versions in this list -->
                        <li><a href="/releasenotes/1.7.1">1.7.1</a></li>
                        <li><a href="/releasenotes/1.7">1.7.0</a></li>
                        <li><a href="/releasenotes/1.6.3">1.6.3</a></li>
                        <li><a href="/releasenotes/1.6.2">1.6.2</a></li>
                        <li><a href="/releasenotes/1.6.1">1.6.1</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Previous releases</li>
                        <li><a href="/releasenotes">Release archive</a></li>
                    </ul>
                </li>
                <li>
                    <div>
                        <a class="btn btn-success navbar-btn" href="/start/install/">
                            <span class="glyphicon glyphicon-download"></span>
                            Install
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
