<div id="supportapache" class="alert alert-warning">
    <p>
        <a href="https://donate.apache.org/" title="Support Apache">
            <img style="float: left; margin-right: 20px;" src="img/support-apache.png" height="95"/>
        </a>
        The Apache Software Foundation (ASF) is a US 501(c)(3) nonprofit charitable organization that depends on a variety of funding sources to sustain its day-to-day activities.<br/><br/>
        <strong>Your support enables the ASF ensure its 300+ community-driven software products remain available to billions of users around the world at no cost, and to incubate the next generation of Open Source innovations.</strong>
    </p>
    <div style="clear: both;"></div>
</div>
