<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <script type="text/javascript">
            $(document).ready(createTOC);
        </script>
    </head>
    <body>
        {% include navbar.html %}
        <div class="container">
            <div class="page-header">
                <h1>{{ page.title }}</h1>
            </div>
            <div id="toc"></div>
            <div id="content">
                {{ content }}
            </div>
            <div class="row clearfix">
                <div id="footer" class="col-md-12 column">
                    {% include footer.html %}
                </div>
            </div>
        </div>
    </body>
</html>
